  	
.crystalsize  {
			height:90px;
			width: 90px;
			border-style: solid;
			border-color: gray;
			margin: 1px;
	}

h1 {padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	}

body {font-size: 20px;}

